* {
    margin: 0;
    padding: 0;
}

#box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

#categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 350px;
}

#profile {
    position: fixed;
    left: 10%;
    top: 20%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 13px 0 rgb(217 165 228 / 73%), inset 0 -8px 16px 0 #f8c1ffe6;
    border-radius: 10px;
    height: 400px !important;
    width: 250px;
}

#feed {
    padding-top: 115px;
    min-height: 1000px;
}

#contacts {
    position: fixed;
    right: 7%;
    top: 20%;
    width: 300px;
    background: #efa2ff2b !important;
    box-shadow: 0 4px 8px 0 #dda5ee59, inset 0 -8px 16px 0 #b674c1fa !important;
    height: 625px;
    overflow: auto;
    border-radius: 10px;
}

.boxes {
    box-sizing: border-box;
    width: 30%;
}

#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    border: solid black 1px;
    margin-top: 20px;
}

#name {
    font-size: 24px;
    color: black;
    display: block;
    text-align: center;
}

#liste {
    display: flex;
    justify-content: center;
}

#liste img {
    margin-right: 20px;
    width: 40px;
}

#liste a {
    text-decoration: none;
    color: black;
}


/* ul:first-child {
    margin-top: 30px;
} */

ul {
    list-style-type: none;
}

#buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.button {
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

#post {
    width: 100%;
    height: 160px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 5px 13px 0 rgb(217 165 228 / 73%), inset 0 -8px 16px 0 #f8c1ffe6;
    border-radius: 10px;
    margin-bottom: 50px;
    top: 20%;
}

#postPicture {
    width: 60px;
    height: 60px;
    border: none;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    border: solid black 1px;
    margin: 5px;
}

#textZone {
    height: 30%;
    width: 80%;
    margin: 5px;
    border-style: none;
}

#hr {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#submit {
    display: flex;
    justify-content: space-around;
}

#submit button {
    background: #efa2ff !important;
    box-shadow: 0 4px 8px 0 #dda5eede, inset 0 -8px 16px 0 #b36bbf !important;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    width: 4em;
}

button#buttonPages.button {
    background: #efa2ff !important;
    box-shadow: 0 4px 8px 0 #dda5eede, inset 0 -8px 16px 0 #b36bbf !important;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    width: 7em;
    font-size: 1.2em;
}

button#buttonContact.button {
    background: #efa2ff !important;
    box-shadow: 0 4px 8px 0 #dda5eede, inset 0 -8px 16px 0 #b36bbf !important;
    border-radius: 7px;
    color: #ffffff;
    border: none;
    width: 7em;
    font-size: 1.2em;
}

#contact,
#headerPost {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-top: 15px;
}

#friends {
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 19px;
}

p#date {
    padding-left: 19px;
}

#publication {
    border-radius: 15px;
    background: linear-gradient(145deg, #fdffff, #d4d8db);
    box-shadow: 20px 20px 60px #c9cccf, -20px -20px 60px #ffffff;
    display: grid;
    align-items: end;
    width: 30vw;
}

#publication #username {
    padding-left: 19px;
    font-size: 1.3em;
    text-transform: capitalize;
    font-weight: 500;
    color: #c074ce;
}

#publicationImage {
    border-radius: 15px;
    width: 30vw;
    box-shadow: 0 35px 68px 0 rgb(211 143 222 / 23%), inset 0 -8px 16px 0 #0a0a0a85;
}

#Contact {
    display: none;
    row-gap: 46px;
    padding-top: 48px;
}

#Pages {
    row-gap: 46px;
    padding-top: 48px;
}