#profil_content{height: 500px;
    width: 100%;
    background-color: gray;
}

#profile_pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#posts{
    height: fit-content;
    
}

.post{
    margin-top: 25px;
    margin-bottom: 25px;
}