@import './variables.css';

* {
    list-style: none;
    text-decoration: none;
    box-sizing:border-box;
}

body {
    padding:0;
    margin:0;
    font-family: var(--body-fonts)!important;
}

header {
    border-bottom: 1vh solid var(--neutral-dark-grayish);
    padding-bottom:1em;
}

.banner {
    height:20vh;
    width:100vw; 
}

.banner-image {
    height:100%;
    width: auto;
    background-image: url(./assets/university-image-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

/* profil du groupe avec 1 photo du groupe (logo) et un "j'aime" */

.group-profil {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* Image du groupe */

.image-circle img {
    height:5vh;
    width:auto;
    margin: 1em;

}

/* Icon issu de "Google font" pour aimer la page */

.like-icon {
    margin:1em;
    height:5vh;
}

.like-icon img {
    padding:0.5em;
    height:100%;
    width:auto;
}

.like-icon h3 {
    font-size: 100%;
    text-align: center;
}

.inactive-like {
    display:block;
}

.active-like {
    display:none;
}

/* Menu de navigation issu de bootstrap */

.navbar-collapse {
    flex-grow: unset!important;
    margin-right:10%;
}

.navbar-brand {
    margin-left:10%;
    color:#5a189a;
    font-weight: 800;
}


.nav-link {
    margin: 0 0.5rem;
    border:none;
    border-radius:10px;
    color:#fff!important;
    font-weight: bold;
    background:#5a189a;
    outline:none;
    padding:0.5rem 1rem!important;
    box-shadow: 0 0.3rem rgb(90, 24, 154,0.4);
}

.nav-link:hover {
    filter:brightness(120%);
    cursor: pointer;
}

/* Indication que le clique a lieu : suppression de l'ombre sous le bouton */
.nav-link:active {
    transform: translate(0 0.3rem);
    box-shadow: 0 0.1rem rgba(255,255,255,0.65);
}



/* MAIN */

main {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0h2v20H9V0zm25.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm-20 20l1.732 1-10 17.32-1.732-1 10-17.32zM58.16 4.134l1 1.732-17.32 10-1-1.732 17.32-10zm-40 40l1 1.732-17.32 10-1-1.732 17.32-10zM80 9v2H60V9h20zM20 69v2H0v-2h20zm79.32-55l-1 1.732-17.32-10L82 4l17.32 10zm-80 80l-1 1.732-17.32-10L2 84l17.32 10zm96.546-75.84l-1.732 1-10-17.32 1.732-1 10 17.32zm-100 100l-1.732 1-10-17.32 1.732-1 10 17.32zM38.16 24.134l1 1.732-17.32 10-1-1.732 17.32-10zM60 29v2H40v-2h20zm19.32 5l-1 1.732-17.32-10L62 24l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM111 40h-2V20h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zM40 49v2H20v-2h20zm19.32 5l-1 1.732-17.32-10L42 44l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM91 60h-2V40h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM39.32 74l-1 1.732-17.32-10L22 64l17.32 10zm16.546 4.16l-1.732 1-10-17.32 1.732-1 10 17.32zM71 80h-2V60h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM120 89v2h-20v-2h20zm-84.134 9.16l-1.732 1-10-17.32 1.732-1 10 17.32zM51 100h-2V80h2v20zm3.134.84l1.732 1-10 17.32-1.732-1 10-17.32zm24.026 3.294l1 1.732-17.32 10-1-1.732 17.32-10zM100 109v2H80v-2h20zm19.32 5l-1 1.732-17.32-10 1-1.732 17.32 10zM31 120h-2v-20h2v20z' fill='%23ddd1f0' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* MAIN - section des exemples de pages connexes */

.main-first-section {
    display:grid;
    grid-template-rows: 1fr auto;
    justify-content:center;
}

.example-pages-container {
    grid-row:2;
    display:flex;
    justify-content:center;
    flex-wrap: nowrap;
}

.main-first-section h2 {
    grid-row:1;
    margin-top:1em;
    margin-left:2%;
}

.example-page {
    width:auto;
    height:auto;
    max-width:50vw;
    padding:20px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
    margin: 2%;
}

.image-circle {
    display:flex;
}

/* Les 2 titres à côté de l'image de la page connexe */

.first-page-titles {
    padding-top:1.1em;
}

.first-page-titles h3 {
    font-size: medium;
    color: var(--neutral-dark-violet);
}

.first-page-titles h4 {
    font-size: small;
    color: var(--neutral-dark-grayish);
}

.example-page-image-container {
    width:auto;
    height:20vh;
}

.example-page-image {
    height:100%;
    width: auto;
    background-image: url(./assets/university-image-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}

.sharing-icons-container {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin:5%;
    border-radius: 10px;
    padding:0.2em;

    display:flex;
    justify-content: space-around;
}

/* Aimer ou non la 1ère page connexe */
.first-page-heart-inactive {
    display:inline-block;
}

.first-page-heart-active {
    display:none;
}

/* MAIN - section de la page du groupe */

.page-on-group {
    height:auto;
    width:100vw;

    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin:5%;
    border-radius: 10px;
    padding:0.2em;

    display:flex;
    flex-direction: column;
}

.page-on-group section:nth-of-type(1) {
    display:flex;
    flex-direction: column;
}

.page-on-group section:nth-of-type(2) {
    height:20vh;
    width:auto;
} 

.bg-image-page-on-group {
    height:100%;
    width: auto;
    background-image: url(./assets/university-image-group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}



/* Media queries sur la nav bar car à 1095px de large les buttons s'agrandissent sans respecter leur height initiale */
@media screen and (max-width:1095px) {

    .nav-link {
        margin:0.2rem;
        font-size:0.8em;
    }
}

@media screen and (max-width:425px) {

    .example-pages-container {
        flex-wrap: wrap;
    }

    .example-page {
        max-width: 100vw;
    }
}